<%- include("partials/header") -%>
<h1>ABOUT</h1>
<p>I love Programming and Web </p>
<p>Find more of my work on <a href="https://github.com/pikooli"><strong>Github</strong></a></p>
<%- include("partials/footer") -%>